.section-2 {
	position: relative;
	padding-bottom: 180px;
	z-index: 1;
	.left-img {
		position: absolute;
		top: -70px;
		left: 0;
		width: 50%;
		height: 704px;
		z-index: 0;
	}
	.right-img {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 586px;
		z-index: 0;
	}
	.title {
		margin-top: 15px;
	}
	.section-2_text {
		p {
			font-family: $open-font;
			font-weight: 300;
			font-size: 16px;
			color: #ffffff;
			margin-top: 20px;
			b {
				font-weight: 700;
			}
		}
	}
	.btn-block {
		margin-top: 50px;
	}
	.btn {
		display: block;
		width: 390px;
		margin: 0 auto;
	}
	.figure-block {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		margin-top: 20px;
	}
	.slick-slider {
		max-width: 640px;
		margin: 0 auto;
	}
	.figure {
		width: 320px;
		height: 110px;
		transform: skew(-30deg);
		display: flex!important;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
		background: rgba(23, 12, 40, .3);
		transition: .3s;
		position: relative;
		outline: none;
		img {
			transform: skew(30deg);
		}
		&:hover {
			background: #2b1245;
		}
	}
	.slick-next, .slick-prev {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		border: none;
		height: 41px;
		width: 20px;
		cursor: pointer;
		opacity: .5;
		transition: .3s;
		z-index: 10;
		&:hover {
			opacity: 1;
		}
	}
	.slick-prev {
		background: url(../img/left-arrow.png) no-repeat center;
		background-size: contain;
		left: 0;
	}
	.slick-next {
		background: url(../img/right-arrow.png) no-repeat center;
		background-size: contain;
		right: 0;
	}
	.section-2_1 {
		margin-top: 80px;
	}
}