.section-1 {
	position: relative;
	padding: 45px 0 182px 0;
	.first-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 950px;
		z-index: 1;
	}
	.section-1_description {
		position: relative;
		z-index: 2;
		h2 {
			font-size: 32px;
			font-weight: 300;
		}
	}
	.section-1_prize {
		background: rgba(22, 10, 39, .3);
		padding: 50px 0;
	}
	.prize_img {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.prize_text {
		p {
			font-family: $exo-font;
			font-weight: 300;
			color: #ffffff;
			font-size: 18px;
			text-align: left;
			&:first-child {
				font-weight: 700;
				font-size: 20px;
				text-transform: uppercase;
			}
		}
	}
	.form {
		margin-top: 6%;
	}
}
.form {
	background: rgba(7, 10, 26, .5);
	padding: 28px 0;
	.form-group {
		p {
			font-family: $exo-font;
			font-weight: 300;
			font-size: 14px;
			color: #ffffff;
			margin-bottom: 7px;
		}
	}
	.btn-block {
		margin-top: 27px;
		p {
			text-align: center;
			margin-bottom: 0;
			margin-top: 7px;
		}
	}
}

