.section-6 {
	position: relative;
	z-index: 10;
	padding-bottom: 96px;
	.seven-bg {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 670px;
		z-index: 1;
	}
	.title {
		margin-top: 15px;
	}
	.roadmap {
		margin-top: 90px;
	}
	.roadmap-block {
		padding: 0;
		cursor: pointer;
		&:first-child {
			.roadmap-btn {
				.violet-block {
					&:before{
						content: '';
						position: absolute;
						left: 0;
						top: -30px;
						bottom: -30px;
						width: 1px;
						display: block;
						background: linear-gradient(to top, rgba(98, 54, 151, 0), rgba(98, 54, 151, 1), rgba(98, 54, 151, 0));
					}
				}
			}
		}
	}
	.roadmap-btn {
		background: transparent;
		border: none;
		-webkit-appearance: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: .3s;
		p {
			font-family: $exo-font;
			font-weight: 300;
			font-size: 20px;
			text-transform: uppercase;
			color: #ffffff;
			text-align: center;
		}
		img {
			margin-top: 15px;
			margin-bottom: -40px;
			position: relative;
			z-index: 5;
		}
		.violet-block {
			width: 100%;
			height: 75px;
			background: rgba(102, 0, 255, .6);
			position: relative;
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: -30px;
				bottom: -30px;
				width: 1px;
				display: block;
				background: linear-gradient(to top, rgba(98, 54, 151, 0), rgba(98, 54, 151, 1), rgba(98, 54, 151, 0));
			}
		}
	}
	.active {
		.roadmap-btn {
			p {
				font-weight: bold;
			}
		}
	}
	.roadmap-information-block {
		margin-top: 45px;
		p {
			font-family: $exo-font;
			font-weight: bold;
			font-size: 22px;
			color: #ffffff;
			text-transform: uppercase;
		}
	}
	.activity-block {
		display: flex;
		margin-top: 25px;
	}
	.mCSB_container {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0 0 40px 0;
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal {
		height: 23px;
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		background: #1f1136;
		border-radius: 25px;
		height: 15px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background: #7900ff;
		border-radius: 25px;
		height: 17px;
	}
	.activity {
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(23, 13, 38, .6);
		padding: 50px 15px;
		width: 360px;
		margin-right: 63px;
		img {
			margin-right: 15px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.text-activity {
		p {
			font-family: $open-font;
			font-weight: 300;
			font-size: 16px;
			color: #ffffff;
			text-transform: none;
			&:first-child {
				font-family: $exo-font;
				font-weight: 700;
				font-size: 25px;
				text-transform: uppercase;
			}
		}
	}
}