@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/section-1';
@import 'blocks/section-2';
@import 'blocks/section-3';
@import 'blocks/section-4';
@import 'blocks/section-5';
@import 'blocks/section-6';
@import 'blocks/section-7';
@import 'blocks/section-8';
@import 'jquery.mCustomScrollbar.css';
@import 'slick';
@import '_media';